/* .container{
  
    display: flex;
    background-image: url(https://images.pexels.com/photos/4476806/pexels-photo-4476806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size:90em;
    background-position-y: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    

}



.containerCadastro{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 23%;
    padding-top: 2em;
    margin-top:3em;
    margin-bottom: 3em;
    background-color:
        rgba(237, 241, 240, 0.6);
        
    position:relative;
    z-index: 2;
    border-radius: 1em;
    height: 35em;
    
    
}
  
.containerDuracaoTrajeto{
    display: flex;
    justify-content: center;
    
    
}
.containerCidadeEstado{
    display: flex;
    justify-content: center;
    
}
.nomeDificuldade{
    display: flex;
    justify-content: center;
}
.btnCadastrar{
    display: flex;
    flex-direction: row;
}
.btn{
display: flex;
justify-content: center;
}  
.btnCadastrar{
    margin-right: 2em;

}
.btnVoltar{
    margin-right: 0em;
    
} */


